# IGNORE IDE CONFIG
*.idea/

# IGNORE PACKAGE AND ASSEMBLY AND BINARY STUFF
obj/
bin/

# IGNORE WEB CONFIG STUFF
*apsettings.json
*appsettings.Development.json
*appsettings.Production.json

# IGNORE SANDBOX
LocalSandbox/

# IGNORE VERSION CONTROL
.vs/