# IGNORE IDE CONFIG
*.idea/

# IGNORE PACKAGE AND ASSEMBLY AND BINARY STUFF
obj/
bin/

# IGNORE RESHARPER STUFF
*.sln.DotSettings.user

# IGNORE WEB CONFIG STUFF
*apsettings.json
*appsettings.Development.json
*appsettings.Production.json

# IGNORE INTEGRATION BENCH
*IntegrationBench.cs